__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store

build/
devel/
logs/

.idea/
.vscode/
.mypy_cache/
.pytest_cache/

deployment/model_weights/*.pth
deployment/model_weights/*.pt
deployment/model_weights/*.ckpt
!deployment/model_weights/.gitkeep
